@import './../../../../node_modules/font-awesome/css/font-awesome.min.css';
@import 'variables';
@import 'reset';
@import 'header';
@import 'footer';
@import 'general';


.home-page {
	width: 100%;
	background-color: red;
}

.cards-page {
	width: 100%;
	background-color: yellow;
}

.card-details {
	width: 100%;
	background-color: green;
}
