@import './../../../../node_modules/font-awesome/css/font-awesome.min.css';
@import 'variables';
@import 'reset';
@import 'header';
@import 'footer';
@import 'general';


.home-page {
	.card-row {
		margin: 0 auto;
		display: block;
		max-width: 960px;
		.card-header {
			height: 16px;
			p {
				float: left;
				display: inline-block;
				padding-left: 20px;
			}
			a {
				float: right;
				display: inline-block;
				padding-right: 20px;
			}
		}
	}
}

.cards {
	.card {
		width:200px;
		height:275px;
		margin:0 20px;
		display: inline-block;

		.image {
			border:1px black solid;
			height:200px;
			width:200px
		}
	}
}

.cards-page {
	width: 100%;
	background-color: yellow;
}

.card-details {
	width: 100%;
	background-color: green;
}
